body{
  height: 100%;
  /* background: #777; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0; */
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}  

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

P{
  color: black;
}
h1, h2, h3, h4, h5, h6{
  color: black;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin-left: 15% auto;
  margin-right: 15% auto;
  padding: 0px 15px;  
  display: flex;
  flex-wrap: wrap;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.content{
  width: 100%;
  max-width: 1024px;
  margin-left: 15% auto;
  margin-right: 15% auto;
  padding: 0px 15px; 
}

.content img{
  width: 100%;
  max-width: 1024px;
  margin-left: 15% auto;
  margin-right: 15% auto;
  padding: 0px 15px; 
}

#wrap{
  min-height: 100%;
}

header.header{
  background: #E76D13;
  line-height: 38px;
}

main{
  padding-bottom: 38px;
}

footer{
  margin-top: -38px;
  background: #E76D13;
  line-height: 38px;
}

header a{
  color: #000;
  padding: 0 10px;
  margin-left: -0.36em;
  text-decoration: none;
}
header a:hover{
  color: #000;
  text-decoration: none;
}

nav.user{
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  margin-left: -0.36em;
}

.item{
  background: #C0C0C0;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 1%;
  overflow: hidden;
}

.item-base{
  width: 98%;
  float: left;

}

.item-base a:hover{
  text-decoration: none;
  outline: none;
}

.item-remain{
  width: 2%;
  float: left;
  margin-top: 1%;
}

.article-tools{
  margin-top: 30%;
}

.all-functions{
  list-style: none;
}

.all-functions li{
  display: inline-block;
}

.function{
  background: #C0C0C0;
  color: #000;
  border-radius: 5px;
  padding: 0 10px;
  display: inline-block;
}

.function:hover{
  background-color: #555;
  color: white;
  text-decoration: none;
  outline: none;
}

.navbar-custom {
  height: 70px;
  width: 100%;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}


.dropdown {
  opacity: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  align-items: center;
  
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1.5rem;
 
  transform: translateX(-40%);
  /* transition: opacity .15s ease-out; */
  /* transition: all 1s ease-in; */
  /* transition: opacity 2s linear; */
  transition: visibility 0s .5s, opacity .5s linear;
  background: white;
  border-radius: 5px;
  box-shadow: 0px -17px 30px 10px rgba(34, 60, 80, 0.3);
  pointer-events: none;
}

.dropdown-item {
  width: 200px;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
}

.has-dropdown:focus-within .dropdown   {
  opacity: 1;
  pointer-events: auto;
}

#box{
  background: white;
  list-style: none;
  border-radius: 5px;
  position: absolute;
 /* width: 64.7%;*/
  width: 100%;
  max-width: 994px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

a.box-item, p.box-item{
  color: #000;
  padding: 10px;
  display: block;
  text-decoration: none;
}
p.box-item{
   color: #000;
  padding: 10px;
  display: block;
  text-decoration: none;
  padding-top: 20px; 
}

a.box-item:hover{
  background: #555;
  color: white;
}

input[type=text], input[type=email], input[type=password]{
  width: 50%;
  height: 38px;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

.form textarea{
  width: 100%;
  height: 70%;
  border: 3px solid #ccc;
  resize: none;
  outline: none;
  transition: 0.5s;
}

.comment textarea{
  width: 50%;
  height: 80px;
  border: 3px solid #ccc;
  resize: none;
  outline: none;
  transition: 0.5s;
}

input[type=submit]{
  background-color: white;
  color: #000;
  text-decoration: none;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

input[type=submit]:hover{
   background-color: #555;
   color: white;
}

input[type=text]:focus, textarea:focus,  input[type=email]:focus, input[type=password]:focus{
  border: 3px solid #555;
}

.pagination a{
  color: #555  !important;
  text-decoration: none;
}

.pagination a:hover{
  color: black;
}

.pagination>.active>a{
  background-color: #555;
  color: white !important;
  border-color: #555;
}

.pagination>.active>a:hover{
  background-color: #555;
  color: white !important;
  border-color: #555;
}

hr{
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 12pt;
  outline: none;
  text-decoration: none;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card a:link { text-decoration: none; }
.card a:visited { text-decoration: none; }
.card a:hover { text-decoration: none; }
.card a:active { text-decoration: none; }

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5{
  margin: 0;
}
.user-info h6 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.form-input{
  height: 50%;
  text-indent: 33px;
  border-radius: 10px;
  transition: border-radius ease-in-out .15s, border-bottom ease-in-out .15s;
}

.form-input.search-field:focus{
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.form{
  width: 400px;
  position: relative;
}

.form .fa-search{
  position: absolute;
  top: 31.5%;
  left: 5%;
  color: #9ca3af;

}

.form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.results{
  overflow: auto;
  position: absolute;
  background: #fff;
  width: 400px;
  max-height: 400px;
  opacity: 0;
  border-radius: 0% 0% 20px 20px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, opacity ease-in-out .15s;
  border: 1px solid #ccc;
  padding: 0;
}

.results::-webkit-scrollbar {
  background: transparent;
}

.dropdown-results{
  max-height: 390px;
}

.form-input.search-field:focus ~ .results{
  border-color: #66afe9;
  border-top: none;
  opacity: 1;
}

.result-item{
  width: 400px;
  border-top: 1px solid #ccc;
}

#load-more  {
  width: 100%;
  background-color: #ccc;
  border: 1px solid #ccc;
}

a.load-more{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.profile-list-header{
  margin-top: 20px;
  background-color: #ccc;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  border: 1px solid #66afe9;
  text-align: center;
}

.profile-list{
  list-style-type: none;
  width: 100%;
  padding: 0;
  max-height: 500px;
  overflow: auto;
}

.profile-list::-webkit-scrollbar {
  display: none;
}

.profile-list-item{
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  line-height: 38px;
}

a.profile-list-item-content{
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 100%;  
  text-decoration: none;
}