{% extends 'base.html'%}
{% load static %}
{% block content%} 
{% for article in object_list %}
    <div class="card" style="background-color: {{article.color}}">
        <a href="{% url 'article_view' article.id%}">
            <div class="card-header">
              <img src="{% if article.image != ' ' %} {{article.image}} {% else %} {% static '/images/no_image_preview.jpg' %} {% endif %}" alt="rover"/>
            </div>
            <div class="card-body">
              {%for category in article.category.all%}
                <a class="tag tag-teal" href="{% url 'article_list_by_category' category.id %}">{{category.name}}</a>
              {%endfor%}
              <h4>{{article.title}}</h4>
              <p>{{article.description}}</p>
              <div class="user">
                <div class="user-info">
                  <a href="{% url 'article_list_by_domain' article.domain.id %}"><h5>{{article.domain.name}}</h5></a>
                  <a href="{% url 'article_list_by_author' article.author.id %}"><h6>Автор - {{article.author.name}}</h6></a>
                  <a href="{% url 'article_list_by_date' article.date|date:"d-m-Y" %}"><small>{{article.date}}</small></a>
                </div>
              </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock content%}
