{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block sidebar %}
	{% for category in categories %}
		<a href="{% url 'newnotes:view_category' category.id%}">{{category.name}}</a>
	{% endfor %}
{% endblock %}
{% block content %}

	<h3 align="center">{{object.title}}</h3>
	<p align="center"><em>{{object.author}}, {{object.date}}, прочитано:{{no_of_seen}}</em></p><br>
   <div class="content" align="justify" >{{object.content|safe}}</div>
   {% include "articles/comments.html" %}
{% endblock %}

{% block scripts %}
{% endblock scripts %}
