{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>{% block title %}Django Web Scraping Example  
                   {% endblock title %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
            
              <li class="nav-item">
                <a class="nav-link" href={% url 'logout'%}>Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
              </li>
          
              {% else %}
          
              <li class="nav-item">
                <a class="nav-link" href={% url 'login'%}>Login</a>
              </li>
          
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>