{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
  	<script src="https://kit.fontawesome.com/dbc30a1147.js"></script>
	<script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
	<div id="wrap">
		<header class="header">
			<div class="container">
				<nav class="navbar-custom">
					<ul class="navbar-nav">
					  	<li class="nav-item"><a href="{% url 'home' %}">Главная</a></li>
					  	<li class="nav-item"><a href="{% url 'article_list' %}">Все статьи</a></li>

						<li class="nav-item has-dropdown do-dropdown">
							<a href="#">Категории</a>
							<ul class="dropdown">
								{% for category in categories %}
									<li class="dropdown-item">
										<a href="{% url 'article_list_by_category' category.id %}">{{category.name}}</a>
								  	</li>
								{% endfor %}
							</ul>
						</li>
					  	<li class="nav-item">
							<nav class="user">
								<ul>
									{% if user.is_authenticated %}
									<li><a href="{% url 'user_profile' %}">{{user.username}}</a></li>
									<li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
									{% else %}
									<li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
									{% endif %} 
								</ul>
					  		</nav>
						</li>
						<li class="nav-item">
							<div class="form">
								<i class="fa fa-search"></i>
								<input name="q" class='form-control form-input search-field'
								placeholder="Поиск..."
								hx-get="{% url 'partial_search' %}"
								hx-target="#results"
								hx-trigger="input delay:0.2s"
								 >
								<section id="results" class="results">
									{% include 'articles/partial_results.html' %}
								</section>
							</div>
						</li>
					</ul>
				  </nav>
			</div>
		</header>
		<main>
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</main>
	</div>
	<footer>
		<div class="container">
			Written by Oleg Sinkel
		</div>
	</footer>
{% block scripts %}

{% endblock %}
      	
</body>
</html>