{% comment %} {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>{% block title %}Django Web Scraping Example  
                   {% endblock title %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
            
              <li class="nav-item">
                <a class="nav-link" href={% url 'logout'%}>Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
              </li>
          
              {% else %}
          
              <li class="nav-item">
                <a class="nav-link" href={% url 'login'%}>Login</a>
              </li>
          
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html> {% endcomment %}



{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
  	<script src="https://kit.fontawesome.com/dbc30a1147.js"></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
	<div id="wrap">
		<header>
			<div class="container">
				<a href="{% url 'home' %}">Главная</a>
				<a href="{% url 'article_list' %}">Все статьи</a>
				<nav class="user">
			  	<ul>
			 			{% if user.is_authenticated %}
			   			{% comment %} <li><a href="{% url 'newnotes:profile'%}?next={{request.path}}">Профиль - {{ user.get_username }}</a></li> {% endcomment %}
			   			<li><a href="#">Welcome, {{user.username}}</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
			 			{% else %}
			 				{% comment %} <li><a href="{% url 'newnotes:register'%}?next={{request.path}}">Регистрация</a></li> {% endcomment %}
			   			<li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
			 			{% endif %} 
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<div class="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</main>
	</div>
	<footer>
		<div class="container">
			Written by Oleg Sinkel
		</div>
	</footer>
{% block scripts %}

{% endblock %}
      	
</body>
</html>